.info-wrapper{
    display: flex;
    justify-content: space-between;
}

.info-wrapper button{
    background: gray;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.5rem 1rem;

}

h1{
    margin: 2rem;
}

h3{
    padding: 1rem;
}

li{
    list-style: none;
}

.game{
    border: 1px solid darkorchid;
    color: darkorchid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 10px 10px black;
}