.squares{
    background-color: #fff;
    border: none;
    font-size: 5em;
    cursor: pointer;
    outline: none;
}
.squares:hover{
    background-color: #cacaca;
    opacity: 1.0;
}

.X{
    color: red;

}

.O{
    color: green;
}
