
.App{
    display: flex;
    flex-direction: column;
   
}

.button-start{
    color: darkorchid;
    border: 1px darkorchid solid;
    background-color: #fff;
    padding: 20px;
    margin: 40px;
    box-shadow: 10px 10px black;
    font-size: 20px;
    font-weight: bold;
    width: 16rem;
    cursor: pointer;
}

.button-start:hover{
    background-color: #cacaca;
}
.title{
    display: flex;
}
.title p {
   
    z-index: 2;
    margin-left: 200px;
    color: #6EFCBB;
    font-weight: bold;
    font-size: 42pt;
    font-family: sans-serif;
    text-shadow: 4px 4px 0px #4AB18E;
    line-height: 50px;
    display: contents;
  }
