@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body{
  background-color: gray;
  color: black;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2em;
  background-image: url(https://69.media.tumblr.com/ccad489ff6e9ad15be6f609b85f7b99f/tumblr_nr47q9kfXw1sh05g3o1_1280.jpg);
    animation: animatedBackground 20s linear infinite,
    colorShift 5s linear infinite;

    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

